<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body class="custom-body">

    <!-- HEADER OF THE WEBSITE -->
    <!-- TODO: CHANGE THIS TO AN IMAGE LATER AND MAKE CLICKABLE -->
    <div class="container mx-auto header-container">
        <h1>Re:Zero...dle</h1>
    </div>

    <!-- THE MAIN DIV THAT HANDLES THE BODY -->
    <div class="container main-container">

        <!-- ALL OF THE SMALLER DIVS ARE IN HERE -->
        <div class="sub-container">

            <!-- CONTAINS THE GAME TEXT AT THE TOP -->
            <!-- WILL INCLUDE HINTS IN THE FUTURE -->
            <div class="game">
                <span>
                    <div class="fancy-background">
                        <div>
                            <span>Guess today's Re:Zero character!! and I will put more text to see it wrap :)</span>
                        </div>
                    </div>
                </span>
            </div>

            <!-- CONTAINS ALL OF THE ANSWER-TYPE DIVS -->
            <div class="answers">
                <!-- CONTAINS GUESS BOX -->
                <div class="guessbox">
                    <div class="content">
                        <div class="search">
                            <input type="text" placeholder="Type name here...">
                        </div>
                        <div class="options">
                            <!-- OPTIONS ADDED HERE EXAMPLE OPTION BELOW NOW DONE AUTOMATICALLY WITH JAVASCRIPT -->
                            <!-- <div class="character-item">
                                <div class="character-select">
                                    <div>
                                        <img src="img/miku.jpg">
                                    </div>
                                    <div>
                                        Miku
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <!-- CONTAINS THE USER GUESSES -->
                <!-- AND THE FANCY HEADER -->
                <div class="guessed-answers">
                    <div class="guessed-answers-header">
                        <div class="square-container" style="margin-bottom: 0rem;">
                            <div class="square square-header-tile">
                                <div class="square-content">Character</div>
                                <hr>
                            </div>
                            <div class="square square-header-tile">
                                <div class="square-content">Gender</div>
                                <hr>
                            </div>
                            <div class="square square-header-tile">
                                <div class="square-content">Race</div>
                                <hr>
                            </div>
                            <div class="square square-header-tile">
                                <div class="square-content">Height</div>
                                <hr>
                            </div>
                            <div class="square square-header-tile">
                                <div class="square-content">Age</div>
                                <hr>
                            </div>
                            <div class="square square-header-tile">
                                <div class="square-content">Afiliation</div>
                                <hr>
                            </div>
                            <div class="square square-header-tile">
                                <div class="square-content">Elemental Affinity</div>
                                <hr>
                            </div>
                            <div class="square square-header-tile">
                                <div class="square-content">Divine Protection</div>
                                <hr>
                            </div>
                            <div class="square square-header-tile">
                                <div class="square-content">Authority</div>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <div class="guessed-answers-container">
                        <div class="user-answer">
                            <div class="square-container">
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        <img src="static/img/miku.jpg">
                                    </div>
                                </div>
                                <div class="square square-answer-tile guess-incorrect">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile guess-partial">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile guess-correct">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                            </div>
                            <div class="square-container">
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        <img src="static/img/miku.jpg">
                                    </div>
                                </div>
                                <div class="square square-answer-tile guess-incorrect">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile guess-partial">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile guess-correct">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                                <div class="square square-answer-tile">
                                    <div class="square-content">
                                        bruh test
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</body>

<script src="static/javascript/options_logic.js"></script>

</html>